<div class="card">
  <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
    <img
      class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
      [src]="item.image"
      [alt]="item.title"
    />
    <div
      class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
    >
      <div
        class="flex flex-column align-items-center sm:align-items-start gap-3"
      >
        <div class="text-2xl font-bold text-900">{{ item.title }}</div>
        <div class="text-md">
          {{ item.description }}
        </div>
        <div class="card flex justify-content-center">
          <div>
            <p-inputNumber
              [(ngModel)]=" item.quantity"
              [style]="{ width: '4rem' }"
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              inputId="horizontal"
              decrementButtonClass="p-button-secondary"
              incrementButtonClass="p-button-secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min] = 1
              (onInput)="handleInput($event,item)"
            ></p-inputNumber>
          </div>
        </div>
        <div class="flex align-items-center gap-2">
          Price : <span class="text-xl font-semibold">
            {{ item.price | currency : "USD" }}</span>
        </div>
        <div class="flex align-items-center gap-2">
          Total : <span class="text-xl font-semibold">
            {{ item.totalPrice | currency : "USD" }}</span>
        </div>
      </div>
    </div>
    <div>
      <i (click) = "handleRemove(item)" class="pi pi-times cursor-pointer" style="font-size: 1rem"></i>
    </div>
  </div>
</div>
