<div class="container">
  <div class="grid align-content-start">
    <div class="col">
      <div class="text-center">
        <p-card header="Cart">
          <div *ngIf = "totalPrice === 0">Không có sản phẩm nào để hiển thị</div>
          <div class="card">
            <div *ngFor="let item of stores; let last = last">
              <app-store-item
                [product]="item"
                (handleLessEvent)="handleLess($event)"
                (handlePlusEvent)="handlePlus($event)"
                (handleRemoveEvent)="handleRemove($event)"
                (handleFavoriteEvent)="handleFavorite($event)"
              ></app-store-item>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="col-fixed" style="width: 400px" *ngIf = "totalPrice > 0">
        <p-card header="Total">
          <div class="grid pt-4">
            <div class="col-6">
              <div >
                Total Price
              </div>
            </div>
            <div class="col-6">
              <div >
                {{  totalPrice | currency : "USD" }}
              </div>
            </div>
            <div class="col-6">
              <div >
                Total Shipping
              </div>
            </div>
            <div class="col-6">
              <div >
                {{  15| currency : "USD" }}
              </div>
            </div>
            <div class="col-6">
              <div >
                Total
              </div>
            </div>
            <div class="col-6">
              <div >
                {{  totalPriceFinal| currency : "USD" }}
              </div>
            </div>
          </div>
        </p-card>
        <div class="mt-5">
          <p-button label="CHECK OUT" (click)="navigateCheckoutPage()"></p-button>
        </div>
    </div>
  </div>
  
</div>