@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.custom-tab-menu .p-tabmenu ul.p-tabmenu-nav li.p-tabmenuitem:last-child{
  margin-left: auto; /* Dịch nút cuối cùng sang bên phải */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}
