<div class="grid col-12">
  <div class="col-5">
    <div class="card">
      <!-- <p-image [src]="productDetail.image" alt="Image" width="250px"></p-image> -->
    </div>
  </div>
  <div class="col-7">
    <div class="flex flex-column gap-3">
      <h3 class="text-3xl">
        [Nhập ELSS2 giảm 500K] Máy giặt Samsung cửa trước Digital Inverter 8,5kg
        (WW85T4040CX)_Miễn phí công lắp đặt
      </h3>
      <p>
        {{productDetail.description}}
      </p>
      <div>{{productDetail.price |  currency:'VND':'symbol':'1.0-0'}}</div>
      <div class ="flex gap-2 align-items-center">
        <span>Số lượng</span>
        <p-inputNumber
        [(ngModel)]="quantity"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="1"
        [min]="1"
        [max]="100"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
    ></p-inputNumber>
        <span>37 sản phẩm có sẵn</span>
      </div>
      <div class="flex gap-5 justify-content-start mt-5">
        <p-button label="Thêm vào giỏ hàng" icon="pi pi-shopping-cart"></p-button>
        <p-button label="Mua Ngay"></p-button>
      </div>
    </div>
  </div>
</div>
